.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  height: 20px;
  box-shadow: 2px 2px 5px lightgrey;
  padding: 10px;
  span {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.BIG {
  width: 200px;
}

.MEDIUM {
  width: 120px;
  background-color: skyblue;
}

.LITTLE {
  width: 80px;
  background-color: lightcoral;
}

