.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-image: url("~assets/jpg/Hedgehog.jpg");
  background-size: cover;
  background-position: center;
  .wrap {
    display: flex;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;

  }
  .cont {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

    .link {
    padding: 25px;
    text-decoration: none;
    color: black;
  }
    .blank1, .blank2, .blank3 {
    border: 1px solid skyblue;
    border-radius: 15px;
    width: 150px;
    height: 200px;
    padding: 25px;
    margin: 20px;
    box-shadow: 0 5px 15px 5px skyblue;
  }

    .blank1 {
      background-image:url("~assets/jpg/Hedgehog1.jpg");
      background-size: cover;
      background-position: center;
    }

    .blank2 {
      background-image:url("~assets/jpg/Hedgehog2.jpg");
      background-size: cover;
      background-position: center;
    }

    .blank3 {
      background-image:url("~assets/jpg/Hedgehog3.jpg");
      background-size: cover;
      background-position: center;
    }
}