.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;

  .colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 980px;
    overflow: hidden;
  }

  .buttons {
    display: flex;
    justify-content: center;
  }
}

