.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  background-color: lightgrey;

  .submetric {
    background-color: white;
    box-shadow: 0 5px 15px 0 grey;
    border-radius: 5px;
    width: 1100px;
    height: 300px;
    padding: 15px 15px 15px 25px;


    .button {
      display: flex;
      justify-content: flex-start;
      color: #278ae3;
      border-width: 1px;
      border-style: solid;
      border-color: #278ae3;
      border-radius: 5px;
      padding: 10px;
      background: white;
      white-space: nowrap;
      align-items: center;

      .add {
        width: 15px;
        height: 15px;
        margin-right: 5px;

        path {
          fill: #278ae3;
        }
      }
    }
  }

  .list {
    color: #4c4c4c;
    .frame {
      display: flex;
      justify-content: flex-start;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 15px;
      margin: 15px 0;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    color: #b8b8b8;


    .text {
      font-size: 30px;
      color: darkgray;
    }

    .cross {
      width: 30px;
      height: 30px;
      path {
        fill: darkgray;
      }
    }
  }

}

