.user {
  display: flex;
  width: 100%;
  align-items: center;

  &Avatar {
    width: 100px;
    height: 100px;
    background-size: cover;
    border-radius: 15px;
  }

  &Name {
    color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    margin-left: 10px;
  }
}